.conclusion {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
}

.conclusion-success {
    color: green;
}

.conclusion-failure {
    color: red;
}

.conclusion-skipped {
    color: grey;
}

.conclusion-neutral {
    color: grey;
}

.conclusion-cancelled {
    color: red;
}

.conclusion-timed-out {
    color: red;
}

.conclusion-pending {
    color: goldenrod;
}

.conclusion-none {
    color: lightgray;
}

pre {
    background-color: aliceblue;
}

code {
    background-color: aliceblue;
}

a {
    text-decoration: none;
    color: #0064cf;
}

