<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">

<head>
  <meta charset="UTF-8" />
  {% block style %}
  {% endblock %}

  <title>PyTorch CI HUD</title>
  {% block head %}
  {% endblock %}
</head>

<body>
{% for sev in sevs%}
<div class="sev-box">
<a href="https://github.com/pytorch/pytorch/wiki/%5BWIP%5D-What-is-a-SEV">SEV:</a>
{{sev.title}} (<a href={{sev.html_url}}>#{{sev.number}}</a>)
</div>
{% endfor %}
{% block body %}
{% endblock %}
</body>

</html>

