<!DOCTYPE html>
<html>
{% import 'macros.jinja' as macros %}

<head>
    <meta charset="UTF-8" />
    <title>Fail: {{original_capture}}</title>
</head>

<body>
    <h1>Similar failures</h1>
    <h2><code>{{original_capture}}</code></h2>
    <h3>Failures by job ({{total_count}} total)</h3>
    <table>
        {% for name, count in job_count.items() %}
        <tr>
            <td>{{name}}</td>
            <td>{{count}}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Failures samples ({{most_recent_count}} most recent)</h3>
    <ul>
        {% for job in samples %}
        <li>
            <a href="{{ job.log_url }}">[log]</a>
            <a href="{{ job.html_url }}">{{job.workflow_name}} / {{ job.job_name }}</a>
            {% if job.failure_line %}
            <details>
                <summary>
                    <code>{{job.failure_line}}</code>
                </summary>
                <pre>{{job.failure_context}}</pre>
            </details>
            {% endif %}
        </li>

        {%endfor %}
    </ul>
</body>

</html>
