{% extends "base.jinja" %}
{% import 'macros.jinja' as macros %}

{% block style %}
<style>
  table {
    border-collapse: collapse;
  }

  td {
    padding-right: 0.15em;
  }

  .tooltip-target {
    cursor: pointer;
  }

  .tooltip-target-no-click {
    cursor: default;
  }

  .tooltip-container {
    position: relative;
  }

  .tooltip-content {
    background-color: lightgray;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: calc(100% + 5px);
    white-space: nowrap;
  }

  th {
    text-align: left;
  }

  /* code to roatate the workflow name headers */
  .job-header {
    font-family: sans-serif;
    height: 220px;
    white-space: nowrap;
    font-family: sans-serif;
  }

  .job-header__name {
    transform:
      translate(10px, 100px) rotate(315deg);
    width: 10px;
    font-weight: 400;
    font-size: .8em;
  }

  .regular-header {
    font-family: sans-serif;
    vertical-align: bottom;
  }

  .job-metadata {
    white-space: nowrap;
    font-family: sans-serif;
  }
</style>
{% endblock %}

{% block head %}
<script>
  customElements.define("time-formatted", class extends HTMLElement {
    constructor() {
      super();
    }
    connectedCallback() {
      const time = new Date(this.getAttribute('timestamp'));
      const today = new Date();

      const isToday = time.getFullYear() === today.getFullYear() &&
        time.getMonth() === today.getMonth() &&
        time.getDate() === today.getDate();
      if (isToday) {
        // "6:55 PM"
        this.innerHTML = new Intl.DateTimeFormat('en-US', { hour: 'numeric', minute: 'numeric' }).format(time);
      } else {
        // "Wed, Dec 8"
        this.innerHTML = new Intl.DateTimeFormat('en-US', { weekday: 'short', month: 'short', day: 'numeric' }).format(time);
      }
    }
  });
</script>
{% endblock %}

{% block body %}
<h1>PyTorch HUD: <code>{{branch}}</code></h1>
<div>This page reloads every minute.</div>
<div>
  Page through commits:
  {% if page %}
  <a href="?page={{page - 1}}">back</a> |
  {% endif %}
  <a href="?page={{page + 1}}">forward</a>
</div>
<label for="job-filter">Filter jobs (press enter to change url, esc to clear):</label>
<input type="text" name="job-filter" id="job-filter">

<div id="hud"></div>

<!-- <script src="{{ url_for('static', filename='job_tooltip.js') }}"></script> -->
<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
<script src="{{ url_for('static', filename='tooltip.js') }}" type="module"></script>

{% endblock %}
