<!DOCTYPE html>

{% import 'macros.jinja' as macros %}

<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">

<style>
  .tooltip-target {
    cursor: pointer;
  }

  .tooltip-target-no-click {
    cursor: default;
  }

  .job-tooltip {
    background-color: lightgray;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    white-space: nowrap;
  }

  th {
    text-align: left;
  }

  /* code to roatate the workflow name headers */
  .job-header {
    font-family: sans-serif;
    height: 220px;
    white-space: nowrap;
    font-family: sans-serif;
  }

  .job-header__name {
    transform:
      translate(10px, 100px) rotate(315deg);
    width: 10px;
    font-weight: 400;
    font-size: .8em;
  }

  .regular-header {
    font-family: sans-serif;
    vertical-align: bottom;
  }

  .job-metadata {
    white-space: nowrap;
    font-family: sans-serif;
  }
</style>

<html>

<head>
  <meta charset="UTF-8" />
  <title>Janky HUD</title>

  <script>
    customElements.define("time-formatted", class extends HTMLElement {
      connectedCallback() {
        const time = new Date(this.getAttribute('timestamp'));
        const today = new Date();

        const isToday = time.getFullYear() === today.getFullYear() &&
          time.getMonth() === today.getMonth() &&
          time.getDate() === today.getDate();
        if (isToday) {
          // "6:55 PM"
          this.innerHTML = new Intl.DateTimeFormat('en-US', { hour: 'numeric', minute: 'numeric' }).format(time);
        } else {
          // "Wed, Dec 8"
          this.innerHTML = new Intl.DateTimeFormat('en-US', { weekday: 'short', month: 'short', day: 'numeric' }).format(time);
        }
      }
    });
  </script>
  <script defer src="{{ url_for('static', filename='job_tooltip.js') }}"></script>
</head>

<body>
  <h1>PyTorch HUD: <code>{{branch}}</code></h1>
  <div>This page reloads every minute.</div>
  <div>
    Page through commits:
    {% if page %}
    <a href="?page={{page - 1}}">back</a> |
    {% endif %}
    <a href="?page={{page + 1}}">forward</a>
  </div>
  <label for="job-filter">Filter jobs (press enter to change url, esc to clear):</label>
  <input type="text" name="job-filter" id="job-filter">
  <table id="hud-table" style="display:none">
    <colgroup>
      <col>
      <col>
      <col>
      <col>
      {% for name in names %}
      <col class="col-job" name="{{name}}">
      {% endfor %}
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
      <tr>
        <th class="regular-header">Time</th>
        <th class="regular-header">SHA</th>
        <th class="regular-header">Commit</th>
        <th class="regular-header">PR</th>

        {% for name in names %}
        <th class="job-header">
          <div class="job-header__name" id="{{name}}">{{name}}</div>
        </th>
        {% endfor %}
        <th class="regular-header" style="text-align: right">PR</th>
        <th class="regular-header">Commit</th>
        <th class="regular-header">SHA</th>
        <th class="regular-header">Time</th>
      </tr>
    </thead>

    <tbody>
      {% for (time, sha, commit_url, commit_message, pr_num), jobs in sha_grid.items() %}
      <tr>
        <!-- Time -->
        <td class="job-metadata">
          <time-formatted timestamp='{{time}}'></time-formatted>
        </td>

        <!-- SHA -->
        <td class="job-metadata"><a href={{commit_url}}> {{ sha[:7] }} </a></td>

        <!-- Commit title -->
        <td class="job-metadata"> <a href="/commit/{{sha}}">{{commit_message}}</a> </td>

        <!-- Pull Request link -->
        <td class="job-metadata">
          {% if pr_num %}
          <a href=https://github.com/pytorch/pytorch/pull/{{pr_num}}>#{{pr_num}}</a>
          {% endif %}
        </td>

        <!-- All the jobs -->
        {% for job in jobs %}
        {% if job %}
        <td class="tooltip-target" job-id={{job.id}} conclusion={{job.conclusion}}>
          <div class="conclusion">
            {{ macros.emoji_for_conclusion(job.conclusion) }}
          </div>
        </td>
        {% else %}
        <td class="tooltip-target-no-click">
          <div class="conclusion">
            <span class="conclusion-none">O</span>
          </div>
        </td>
        {% endif %}
        {% endfor %}
        <!-- Pull Request link -->
        <td class="job-metadata">
          {% if pr_num %}
          <a href=https://github.com/pytorch/pytorch/pull/{{pr_num}}>#{{pr_num}}</a>
          {% endif %}
        </td>

        <!-- Commit title -->
        <td class="job-metadata"> <a href="commit/{{sha}}">{{commit_message}}</a> </td>

        <!-- SHA -->
        <td class="job-metadata"><a href={{commit_url}}> {{ sha[:7] }} </a></td>

        <!-- Time -->
        <td class="job-metadata">
          <time-formatted timestamp='{{time}}'></time-formatted>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    // Optimization to avoid needless re-flowing as the table HTML loads. Our
    // table is static and very large, so we can just hide it until we have
    // all the data then render it once.
    // See: https://patdavid.net/2019/02/displaying-a-big-html-table/
    document.getElementById("hud-table").style.display = null;

    setInterval(() => {
      // Reload if someone didn't have a tooltip box open.
      const elem = document.querySelector(".job-tooltip");
      if (elem === null) {
        location.reload();
      }
    }, 60000);

  </script>
  <script>
    function onInput(event) {
      const col = event.target;
      const query = col.value.toLowerCase();
      document.querySelectorAll(".col-job").forEach((elem) => {
        let jobName = elem.getAttribute("name");
        const th = document.getElementById(jobName);

        jobName = jobName.toLowerCase();
        if (query == "") {
          elem.style.visibility = null;
          th.style.visibility = null;
          return;
        }

        if (jobName.includes(query)) {
          elem.style.visibility = null;
          th.style.visibility = null;
        } else {
          elem.style.visibility = "collapse";
          th.style.visibility = "collapse";
        }
      })
      window.sessionStorage.setItem("job-filter", query);
    }
    function onKeyDown(event) {
      if (event.code === "Escape") {
        event.target.value = ""
        // Trigger fake input to reset the view.
        const fakeInput = new Event('input');
        event.target.dispatchEvent(fakeInput);
      } else if (event.code === "Enter") {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('jobFilter', event.target.value);
        window.location.search = urlParams;
      }
    }
    document.getElementById("job-filter").addEventListener('input', onInput);
    document.getElementById("job-filter").addEventListener('keydown', onKeyDown);
    function initJobFilter() {
      // first try url params
      const urlParams = new URLSearchParams(window.location.search);
      let jobFilter = urlParams.get("jobFilter");
      // then local storage if that's missing
      if (jobFilter === null) {
        jobFilter = window.sessionStorage.getItem("job-filter");
      }
      if (jobFilter === null) {
        return;
      }
      const searchBox = document.getElementById("job-filter")
      searchBox.value = jobFilter;
      const fakeInput = new Event('input');
      searchBox.dispatchEvent(fakeInput);
    }
    initJobFilter();

  </script>

</body>

</html>
