{% macro emoji_for_conclusion(conclusion) -%}
    {%- if conclusion == 'success' -%}
        <span class="conclusion-success">O</span>
    {%- elif conclusion == 'failure' -%}
        <span class="conclusion-failure">X</span>
    {%- elif conclusion == 'neutral' -%}
        <span class="conclusion-neutral">N</span>
    {%- elif conclusion == 'cancelled' -%}
        <span class="conclusion-cancelled">C</span>
    {%- elif conclusion == 'timed_out' -%}
        <span class="conclusion-timed-out">T</span>
    {%- elif conclusion == 'skipped' -%}
        <span class="conclusion-skipped">S</span>
    {%- elif conclusion == None -%}
        <span class="conclusion-pending">?</span>
    {%- else -%}
    🧞‍♂️
    {%- endif -%}
{% endmacro -%}


