.conclusion {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
}

.conclusion-success {
  color: green;
}

.conclusion-failure {
  color: red;
}

.conclusion-skipped {
  color: grey;
}

.conclusion-neutral {
  color: grey;
}

.conclusion-cancelled {
  color: red;
}

.conclusion-timed-out {
  color: red;
}

.conclusion-pending {
  color: goldenrod;
}

.conclusion-none {
  color: lightgray;
}

pre {
  background-color: aliceblue;
}

code {
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: #0064cf;
}

.sev-box {
  border: 1px solid red;
  border-radius: 5px;
  background-color: #ffe1e1;
  padding: 10px;
  margin-bottom: 10px;
}

 /* Set table-layout fixed and manually set the width of each column.
  * This is necessary to avoid excessive reflows on page load, where we keep
  * recomputing the layout as we load more rows from the huge static html.
  */
table {
  table-layout: fixed;
  border-collapse: collapse;
}
.header-time {
  width: 11em;
  vertical-align: bottom;
}
.header-sha {
  width: 7em;
  vertical-align: bottom;
}
.header-commit {
  width: 40em;
  vertical-align: bottom;
}
.header-pr {
  width: 7em;
  vertical-align: bottom;
}
.header-job {
  width: 1em;
}

td {
  padding-right: 0.15em;
}

.tooltip-target {
  cursor: pointer;
}

.tooltip-target-no-click {
  cursor: default;
}

.tooltip-container {
  position: relative;
}

.tooltip-content {
  background-color: lightgray;
  padding: 5px 0;
  border-radius: 6px;
  cursor: default;

  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: calc(100% + 5px);
  white-space: nowrap;
}

th {
  text-align: left;
}

/* code to roatate the workflow name headers */
.header-job {
  font-family: sans-serif;
  height: 220px;
  white-space: nowrap;
  font-family: sans-serif;
}

.header-job__name {
  transform: translate(10px, 100px) rotate(315deg);
  width: 10px;
  font-weight: 400;
  font-size: 0.8em;
}

.regular-header {
  vertical-align: bottom;
}

.job-metadata {
  white-space: nowrap;
}

#hud-header {
  margin-top: 0px;
  padding-top: 0.67em;
}
